/*---------------------------
RESET
---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------
COMMON
---------------------------*/
body {
    font-family: 'Nunito', sans-serif;
}

h1, h4 {
    font-weight: 1000;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    max-width: 70vw;
    margin: 30px auto 0px;
}

/*---------------------------
TOP
---------------------------*/
main > .top {
    text-align: center;
    margin-bottom: 20px;
}

main > .top :first-child {
    margin-bottom: 40px;
}

/*---------------------------
BOTTOM
---------------------------*/
div.card {
    height: 80px;
    width: calc(100% / 3 - 30px);
    margin: 15px;
    float: left;
    background-color: black;
    color: white;
}

.card > img:only-of-type {
    height: 100%;
    float: left;
    margin-right: 15px;
}

.data > div:nth-child(2) {
    margin: 4px 0;
}

.card a:last-child {
    text-decoration: none;
    color: #17ccf2
}

.card > div.data {
    padding: 8px 0;
    font-size: 13px;
}