* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80vw;
    margin: 30px auto 0px;
}

main > .top {
    text-align: center;
}

main > .top :last-child {
    margin: 40px 0 0;
}