/*---------------------------
RESET
---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------
COMMON
---------------------------*/
body {
    font-family: 'Nunito', sans-serif;
    color: #0f0e17;
}

h1, h3 {
    font-weight: 1000;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    max-width: 65vw;
    margin: 30px auto 0px;
}

/*---------------------------
TOP
---------------------------*/
main > .top {
    text-align: center;
    margin-bottom: 20px;
}

main > .top :first-child {
    margin: 35px;
    color: #e53170;
}

main > .top p:last-child {
    font-size: 14px;
    line-height: 1.5em;
}

/*---------------------------
BOTTOM
---------------------------*/
div.card {
    height: 80px;
    width: calc(100% / 3 - 30px);
    margin: 15px;
    float: left;
    background-color: black;
    color: white;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.44); 
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.44);
}

/*---------------------------
CARD IMAGE
---------------------------*/
.card > img:only-of-type {
    height: 100%;
    float: left;
    margin-right: 15px;
}

/*---------------------------
CARD DATA
---------------------------*/
.card > div.data {
    padding: 8px 0;
    font-size: 13px;
}

.data > div:nth-child(2) {
    margin: 3px 0;
    font-weight: 500;
}

.data a:last-child {
    text-decoration: none;
    color: #17ccf2
}
